@media (max-aspect-ratio: 3/4) {

body {font-size: 100%;overflow:hidden;}

.video-container {
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
}


.video-container embed {
transform-origin: top left;
    transform:scale(0.5);
    -moz-transform-scale(0.5);
    width:200vw;
    height:200vh;
overflow-x:hidden;
overflow-y:hidden;
}
}

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1){

body {font-size: 100%;overflow:hidden;}

.video-container {
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
}


.video-container embed {
transform-origin: top left;
    transform:scale(0.75);
    -moz-transform-scale(0.75);
    width:133vw;
    height:133vh;
overflow-x:hidden;
overflow-y:hidden;
}

}

@media (min-aspect-ratio: 1 / 1) and (max-aspect-ratio: 4 / 3) {

body {font-size: 100%;overflow:hidden;}

.video-container {
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
}


.video-container embed {
transform-origin: top left;
    transform:scale(0.9);
    -moz-transform-scale(0.9);
    width:111vw;
    height:111vh;
overflow-x:hidden;
overflow-y:hidden;
}

}

@media (min-aspect-ratio: 4 / 3 ) {

body {font-size: 100%;overflow:hidden;}

.video-container {
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
}


.video-container embed {
transform-origin: top left;
    transform:scale(1);
    -moz-transform-scale(1);
    width:100vw;
    height:100vh;
overflow-x:hidden;
overflow-y:hidden;
}

}

@media (max-width: 600px) {

body {font-size: 100%;overflow:hidden;}

.video-container {
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
}


.video-container embed {
transform-origin: top left;
    transform:scale(0.5);
    -moz-transform-scale(0.5);
    width:200vw;
    height:200vh;
overflow-x:hidden;
overflow-y:hidden;
}
}

@media (max-height: 600px) {

body {font-size: 100%;overflow:hidden;}

.video-container {
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
}


.video-container embed {
transform-origin: top left;
    transform:scale(0.5);
    -moz-transform-scale(0.5);
    width:200vw;
    height:200vh;
overflow-x:hidden;
overflow-y:hidden;
}
}